@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-style: italic;
    font-weight: bold;
    font-size: normal;
    letter-spacing: .2em;
    line-height: 1.5;
    text-align: left;
}

p {
    font-family: 'Roboto', sans-serif;
    color: darkcyan;
}

.parrafo {
    text-align: center;
    text-indent: -1em;
    text-overflow: ellipsis;
    text-shadow: darkslategray 2px 2px 4px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: darkblue;
}

#nombre {
    text-transform: capitalize;
}